*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: rebeccapurple;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.684);
    border-radius: 15px;
    max-width: 300px;
    height: 80vh;
    width: 100%;
    margin-inline: 10px;
}
#input{
    width: 100%;
    font-size: 3em;
    border: 5px solid black;
    border-radius: 5px;
    background-color: antiquewhite;
    margin: auto;
    height: 1.5em;
    padding-right: 2px;
    display: flex;
    justify-content: flex-end;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
 
}
.btns{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 2px;
}
.linha{
    display: flex;
    height: 100%;
}
span{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid black;
    font-size: 26px;
    background-color: rgb(39, 39, 39);
    color: antiquewhite;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .container{
        height: 50vh;
    }
}