*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: gray;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    width:20%;
    padding: 5px;
    margin: auto;
    background-color: #2E2E2E;
    margin-top: 25px;
    border-radius: 15px;
}
.tela{
    padding: 20px;
}
#input{
    width: 90%;
    font-size: 3em;
    border: 5px solid black;
    border-radius: 20px;
    background-color: antiquewhite;
    text-align: right;
    padding: 10px;
    margin: auto;
    height: 1em ;
}
.btns{
    margin-inline: auto;
}
.linha{
    display: flex;
}
span{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height: 100px;
    cursor: pointer;
    border: 3px solid black;
    font-size: 26px;
    background-color: gray;
    color: antiquewhite;
    border-radius: 10px;
    margin: 2px;
}
span:hover{
    transform: scale(1.1);
}